.hrelease {
    height: 60px;
    line-height: 60px;
    /* background-color: pink; */
}

.jiben {
    padding: 0px 30px 20px 10px;
    font-size: 20px;
    border-bottom: 3px solid #f59a23;
}

.basic {
    position: relative;
    height: 240px;
    /* background-color: pink; */
}

.basic input {
    font-size: 14px;
    border-radius: 3px;
}

.basic select {
    margin: 0 10px;
    font-size: 14px;
}

.basic p {
    float: left;
    padding: 0 10px;
}

.basic ul li {
    float: left;
    height: 80px;
    line-height: 80px;
}

.b1 {
    position: absolute;
    top: 0;
    left: 0;
}

.b1 input {
    height: 40px;
    width: 300px;
    margin: 0 10px;
    padding-left: 15px;
    border: 1px solid #1591d9;
}

.b2 {
    position: absolute;
    top: 0;
    left: 600px;
}

.b2-input {
    float: left;
    height: 40px;
    line-height: 38px;
    width: 120px;
    margin: 20px 10px;
    padding: 0 7px;
    border: 1px solid #1591d9;
    border-radius: 3px;
    background-color: #ffffff;
}

.b2 span {
    float: left;
}

.b2 input {
    float: left;
    height: 38px;
    width: 80px;
    padding: 0 10px;
}

.b3 {
    position: absolute;
    top: 80px;
    left: 0;
}

.b3-input {
    float: left;
    height: 40px;
    line-height: 38px;
    width: 110px;
    margin: 20px 10px;
    border: 1px solid #1591d9;
    border-radius: 3px;
    background-color: #ffffff;
}

.b3 input {
    float: left;
    height: 38px;
    width: 80px;
    padding: 0 10px;
}

.b4 {
    position: absolute;
    top: 80px;
    left: 600px;
}

.b4 span {
    float: left;
}

.b4-input {
    float: left;
    height: 40px;
    line-height: 38px;
    width: 100px;
    margin: 20px 10px;
    border: 1px solid #1591d9;
    border-radius: 3px;
    background-color: #ffffff;
}

.b4 input {
    float: left;
    height: 38px;
    width: 80px;
    padding: 0 10px;
}

.b5 {
    position: absolute;
    top: 160px;
    left: 0;
}

.b5 input {
    height: 40px;
    width: 300px;
    padding-left: 15px;
    margin: 0 10px;
    border: 1px solid #1591d9;
}

.b6 {
    position: absolute;
    top: 160px;
    left: 600px;
}

.b6 input {
    height: 40px;
    width: 100px;
    padding-left: 15px;
}

.b6 select {
    height: 40px;
    width: 100px;
    padding-right: 15px;
    border: 1px solid #1591d9;
    border-radius: 3px;
}

.zujin {
    padding: 20px 10px;
    font-size: 20px;
    border-bottom: 3px solid #f59a23;
}

.rent {
    height: 100px;
    line-height: 100px;
    /* background-color: pink; */
}

.rent p {
    float: left;
    padding: 0 10px;
}

.rent-1 {
    float: left;
    /* display: inline-block; */
    height: 40px;
    line-height: 36px;
    text-align: center;
    margin: 30px 10px;
    border: 2px solid #1591d9;
    border-radius: 5px;
    background-color: #ffffff;
}

.rent-1 input {
    height: 36px;
    width: 100px;
    padding-left: 15px;
    border-radius: 5px;
}

.rent select {
    float: left;
    height: 40px;
    width: 140px;
    margin: 30px 10px;
    padding-right: 15px;
    border: 2px solid #1591d9;
    border-radius: 5px;
}

.xiangxi {
    padding: 20px 10px;
    font-size: 20px;
    border-bottom: 3px solid #f59a23;
}

.detail {
    height: 300px;
    /* background-color: pink; */
}

.detail p {
    float: left;
    height: 150px;
    line-height: 50px;
    width: 100px;
    padding-left: 25px;
}

.detail ul li {
    float: left;
    height: 150px;
    width: 600px;
}

.detail label {
    float: left;
    width: 100px;
    height: 37.5px;
    line-height: 37.5px;
}

.detail input {
    vertical-align: middle;
}

.detail textarea {
    margin: 10px 0;
    padding: 10px;
    width: 480px;
    height: 130px;
    color: #a8a8a8;
}

.fangyuan {
    padding: 20px 10px;
    font-size: 20px;
    border-bottom: 3px solid #f59a23;
}

.housesource {
    position: relative;
    height: 300px;
    /* background-color: pink; */
}

.word{
    float: left;
    width: 100px;
    height: 300px;
    line-height: 50px;
    padding: 0 0 0 25px;
}

.ess {
    float: left;
    width: 500px;
    height: 300px;
    padding: 15px 0 0 0;
}

.uploading {
    float: left;
    height: 300px;
    width: 200px;
    /* background-color: purple; */
}

.uploading img {
    width: 200px;
    height: 200px;
    border: 2px dashed #a8a8a8;
}

.uploading h1 {
    text-align: center;
    margin: 10px 0;
}

.uploading p {
    text-align: center;
}

.lianxi {
    padding: 20px 10px;
    font-size: 20px;
    border-bottom: 3px solid #f59a23; 
}

.contact {
    height: 60px;
    line-height: 60px;
    /* background-color: pink; */
}

.contact p {
    float: left;
}

.c-input {
    height: 30px;
    margin: 15px 10px;
    border: 1px solid #1591d9;
    border-radius: 3px;
}

.contact ul li {
    float: left;
    margin: 0 30px;
}

.release {
    position: relative;
    height: 100px;
    /* background-color: pink; */
    border-bottom: 1px solid #a8a8a8;
}

.release button {
    position: absolute;
    top: 25px;
    left: 500px;
    text-align: center;
    height: 50px;
    width: 200px;
    background-color: #f59a23;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
}